<div class="footer-main">
  <div class="footer-news-box">
    <div class="container-fluid">
      <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
          <div class="footer-news-main">
            <div class="footer-news-txt-main">
              <div class="footer-news-icon">
                <img src="images/news1.png" alt="img" />
              </div>

              <div class="footer-news-txt">
                <h3>Stay Informed with Expert Exterior Cleaning Tips</h3>
                <p>
                  Subscribe to the Hoover Remover Pros newsletter and get the
                  latest updates, seasonal cleaning tips, eco-friendly
                  maintenance advice, and exclusive offers delivered straight to
                  your inbox.
                </p>
              </div>
            </div>

            <div class="footer-news-input-main">
              <form action="#">
                <div class="footer-news-input">
                  <input
                    type="email"
                    name="user-email"
                    id="user-email"
                    placeholder="Email Address...."
                  />
                </div>

                <div class="footer-news-btn">
                  <button class="theme3" type="submit">
                    <span class="theme3-txt">Subscribe Now</span>
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <footer>
    <div class="container-fluid">
      <div class="row">
        <div class="col-xl-3 col-lg-4 col-md-12 col-sm-12 col-12">
          <div class="footer-logo">
            <a href="index.html"
              ><img src="images/footer-logo.jpg" alt="img"
            /></a>
          </div>
        </div>

        <div class="col-xl-9 col-lg-8 col-md-12 col-sm-12 col-12">
          <div class="row">
            <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12 col-12">
              <div class="footer-link-wrap">
                <div class="footer-heading">
                  <h5>Get In Touch</h5>
                </div>

                <div class="footer-link-box">
                  <div class="footer-link-main footer-contact">
                    <ul>
                      <li>
                        <a href="mailto:info@domain.com">
                          <img src="images/mail.png" alt="img" />
                          <p>info@domain.com</p>
                        </a>
                      </li>

                      <li>
                        <a href="tel:+2087809114">
                          <img src="images/phone.png" alt="img" />
                          <p>(208) 780-9114</p>
                        </a>
                      </li>

                      <li>
                        <a href="#">
                          <img src="images/location.png" alt="img" />
                          <p>Dummy here lore 1234 street text here</p>
                        </a>
                      </li>
                    </ul>
                  </div>

                  <div class="footer-socials">
                    <ul>
                      <li>
                        <a target="_blank" href="#">
                          <i class="fab fa-facebook-f"></i>
                        </a>
                      </li>

                      <li>
                        <a target="_blank" href="#">
                          <i class="fab fa-instagram"></i>
                        </a>
                      </li>

                      <li>
                        <a target="_blank" href="#">
                          <i class="fa-brands fa-x-twitter"></i>
                        </a>
                      </li>

                      <li>
                        <a target="_blank" href="#">
                          <i class="fab fa-linkedin-in"></i>
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12 col-12">
              <div class="footer-link-wrap">
                <div class="footer-heading">
                  <h5>Useful links</h5>
                </div>

                <div class="footer-link-box">
                  <div class="footer-link-main footer-link-ex">
                    <ul>
                      <li>
                        <a href="index.html"><p>Home</p></a>
                      </li>
                      <li>
                        <a href="about.html"><p>About Us</p></a>
                      </li>
                      <li>
                        <a href="services.html"><p>Services</p></a>
                      </li>
                      <li>
                        <a href="gallery.html"><p>Gallery</p></a>
                      </li>
                      <li>
                        <a href="our-customers.html"><p>Our Customers</p></a>
                      </li>
                      <li>
                        <a href="testimonial.html"><p>Testimonials</p></a>
                      </li>
                      <li>
                        <a href="blog.html"><p>Blogs</p></a>
                      </li>
                      <li>
                        <a href="contact.html"><p>Contact Us</p></a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12 col-12">
              <div class="footer-link-wrap">
                <div class="footer-heading">
                  <h5>Services</h5>
                </div>

                <div class="footer-link-box">
                  <div class="footer-link-main footer-link-ex">
                    <ul>
                      <li>
                        <a href="javascript:void(0)"><p>Soft Washing</p></a>
                      </li>
                      <li>
                        <a href="javascript:void(0)"><p>Roofs</p></a>
                      </li>
                      <li>
                        <a href="javascript:void(0)"><p>Gutters & Guards</p></a>
                      </li>
                      <li>
                        <a href="javascript:void(0)"><p>Fleet Washing</p></a>
                      </li>
                      <li>
                        <a href="javascript:void(0)"><p>Holiday Lighting</p></a>
                      </li>
                      <li>
                        <a href="javascript:void(0)"
                          ><p>Windows & Screens</p></a
                        >
                      </li>
                      <li>
                        <a href="javascript:void(0)"
                          ><p>Solar Panel Cleaning</p></a
                        >
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12 col-12">
              <div class="footer-link-wrap">
                <div class="footer-heading">
                  <h5>working Hours</h5>
                </div>

                <div class="footer-link-box">
                  <div class="footer-link-main">
                    <ul>
                      <li>
                        <p>
                          <span>Monday - Friday:</span>
                          <span>7:00 AM - 7:00 PM</span>
                        </p>
                      </li>
                      <li>
                        <p>
                          <span>Saturday - Sunday: </span>
                          <span>CLOSED</span>
                        </p>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>

  <div class="footer-copy-main">
    <div class="container-fluid">
      <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
          <div class="footer-copy-box">
            <div class="footer-copy-txt">
              <p>
                Copyright © <a href="index.html">Hoover Remover Pros</a> 2025.
                All Rights Reserved copy
              </p>
            </div>

            <div class="footer-top">
              <a href="#top">
                <i class="fa-solid fa-arrow-up-long"></i>
              </a>
            </div>
          </div>
        </div>

        <div class="col-xl-5 col-lg-5 col-md-12 col-sm-12 col-12">
          <div class="footer-copy-priv-main">
            <div class="footer-copy-priv">
              <ul>
                <li>
                  <a href="cookie-policy.html"> Cookie Policy </a>
                </li>
                <li>
                  <a href="privacy-policy.html"> Privacy Policy </a>
                </li>
                <li>
                  <a href="refund-policy.html"> Refund Policy </a>
                </li>
                <li>
                  <a href="terms-and-conditions.html"> Terms And Conditions </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
